@import "header";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.global_container {
    height: 100%;
}

#content {
    height: 100%;
}
.full_height{
    height: 100%;
}
.bb-route-container{
    height: 100%;
}
.dashboard {
    .tasks {
        li {
            padding: 5px;
        }
        .task-tabs {
            width: 200px;
            background: #221d2f;
            a {
                color: #fff;
                width: 50%;
                padding: 5px;
                &[data-active="true"] {
                    background: #fff;
                    color: #999;
                }
            }
        }
    }
    .right_block {
        float: right;
        width: 65%;
    }
    .dashboard-menu{
        overflow: hidden;
        .navbar-nav {
            background: #221d2f;
            li {
                a {
                    color: #fff;
                    width: 50%;
                    padding: 5px;
                    &[data-active="true"] {
                        background: #fff;
                        color: #999;
                    }
                }
            }
        }
    }
}

.finance {
    height: 100%;
    .finance_page__left {
        .navbar-nav {
            li {
                float: none;
                a {
                	text-transform: uppercase;
                    font: bold 14px/100% "Open Sans", Arial;
                    color: #fff;
                    display: block;
                    border-left: 3px solid transparent;
                    -webkit-transition: all 200ms ease;
                    -moz-transition: all 200ms ease;
                    -ms-transition: all 200ms ease;
                    -o-transition: all 200ms ease;
                    &:hover {
                        border-left-color: #fff;
                        background-color: rgba(0, 0, 0, 0.12);
                    }
                    &[data-active="true"] {
                        background: #fff;
                        color: #999;
                    }
                }
            }
        }
    }
    .finance-container {
        overflow: hidden;
    }
}
