@import "mixins";
@import "variables";
@import "dashboard/dashboard";
@import "fonts/font-awesome";
@import "header/header";
@import "panel/panel";
@import "tree/tree";
@import "stats/stats";
@import "finance/finance";
@import "selectric.scss";

* {
    padding: 0;
    margin: 0;
    @extend .border-box;
}

.btn {
    background: transparent;
    border: none;
    @include box-shadow(none);
    outline: none;
    cursor: pointer;
    font-family: "Open Sans", Arial;
}

input,
textarea {
    background: transparent;
    font-family: "Open Sans", Arial;
    @include box-shadow(none);
    resize: none;
    outline: none;
    border: none;
}

ul {
	list-style: none;
}

html,
body {
    overflow: hidden;
    @extend .full-size;
}

body {
    line-height: normal;
    font-family: "Open Sans", Arial;
}

.main {
    &-wrap {
        position: relative;
        padding-top: 60px;
    }

    &-content {
        position: relative;
        padding-top: 65px;
        // background: #f0edee;
        // background: -moz-radial-gradient(center, ellipse cover,  #f0edee 50%, #cecfd3 100%);
        // background: -webkit-radial-gradient(center, ellipse cover,  #f0edee 50%,#cecfd3 100%);
        // background: radial-gradient(ellipse at center,  #f0edee 50%,#cecfd3 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0edee', endColorstr='#cecfd3',GradientType=1 );

        // background-color: #fff; /* layer fill content */
        // background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkNWQ3ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q4ZTNlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
        // background-image: -moz-linear-gradient(49deg, #d5d7db 10%, #d8e3eb 50.94%, #dcdade 90%); /* gradient overlay */
        // background-image: -o-linear-gradient(49deg, #d5d7db 10%, #d8e3eb 50.94%, #dcdade 90%); /* gradient overlay */
        // background-image: -webkit-linear-gradient(49deg, #d5d7db 10%, #d8e3eb 50.94%, #dcdade 90%); /* gradient overlay */
        // background-image: linear-gradient(41deg, #d5d7db 10%, #d8e3eb 50.94%, #dcdade 90%); /* gradient overlay */

        background-color: #fff; /* layer fill content */
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2U3ZWVmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTVlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
        background-image: -moz-linear-gradient(49deg, #e5e5e6 10%, #e7eef3 50.94%, #e6e5e8 90%); /* gradient overlay */
        background-image: -o-linear-gradient(49deg, #e5e5e6 10%, #e7eef3 50.94%, #e6e5e8 90%); /* gradient overlay */
        background-image: -webkit-linear-gradient(49deg, #e5e5e6 10%, #e7eef3 50.94%, #e6e5e8 90%); /* gradient overlay */
        background-image: linear-gradient(41deg, #e5e5e6 10%, #e7eef3 50.94%, #e6e5e8 90%); /* gradient overlay */
    }
}

.tasks {
    position: relative;
    padding-bottom: 40px;

    &.have-filter {
        padding-top: 80px;
        // padding-top: 118px;
    }

    &.have-sort {
        padding-top: 122px;
    }
}

.filters-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    background-color: #f3f3f5;

    .left-filters {
        float: left;
        padding: 13px 0 20px 12px;
        .custom-select {
            $self: custom-select;

            margin-top: 10px;
            //            border-bottom: 1px solid #bbb;
            &.type{
                max-width: initial;
                min-width: initial;
            }
            &:after {
                content: '';
                background-image: url(../img/icon/icon-rotation-small.svg);
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 5px;
                float: right;
                background-repeat: no-repeat;
                @include rotate(90deg);
                color: #19BFEF;
                position: absolute;
                right: 0;
                top: 7px;
                background-size: cover;

                pointer-events: none;
            }
            &-open {
                &.#{$self} {
                    &:after {
                        @include rotate(270deg);
                        top: 5px;
                    }
                }
            }
            &-value{
                color: #19BFEF;
            }
        }    

    }

    .right-filters {
        float: right;
        padding: 15px 14px 18px 0;

        .selectric-wrapper {
            float: left;
            margin-right: 10px;
        }

        .custom-select {
            $self: custom-select;

            margin-top: 10px;
            //            border-bottom: 1px solid #bbb;

            &:after {
                content: '';
                background-image: url(../img/icon/icon-rotation-small.svg);
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 5px;
                float: right;
                background-repeat: no-repeat;
                @include rotate(90deg);
                color: #19BFEF;
                position: absolute;
                right: 0;
                top: 7px;
                background-size: cover;

                pointer-events: none;
            }
            
            // .custom-select-open
            &-open {
                &.#{$self} {
                    &:after {
                        @include rotate(270deg);
                        top: 5px;
                    }
                }
            }
            &-value{
                border-radius: 4px;
                border: 1px solid #19BFEF;
                color: #19BFEF;
            }
        }
    }

    .btn-add-new {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        padding: 5px 19px 8px 19px;
        border: 1px solid #9a9a9a;
        border-radius: 20px;        
        color: #9a9a9a;
        
        .icon {
            font-size: 17px;
        }
    }

    .btn-show-sort {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 19px 8px 19px;
        border: 1px solid #81589f;
        color: #81589f;
        border-radius: 20px;
        text-decoration: none;

        .icon {
            font-size: 17px;
        }
    }

    .base-filters {
        margin-left: 13px;
        display: inline-block;
        .custom-select-base{
            max-width: 120px;
            min-width: 120px;
        }
        span {
            color: #9a9a9a;
            cursor: pointer;
            margin-right: 14px;
            font-size: 15px;

            &.active {
                color: #000;
                text-decoration: underline;
            }
        }
    }

    .custom-filters {
        border-bottom: 1px solid #b8b8ba;

        i {
            font-size: 12px;
        }
    }

    .table-search {
        float: right;
        padding: 15px 29px 29px 0;
        .icon-search{
            font-size: 28px;
            float: right;
            cursor: pointer;
        }
        &.active{
            width: 392px;
            input{
                display: block;
            }
        }
        input {
            display: none;
            padding: 4px;
            border: none;
            border-bottom: 1px solid #d4d4d4;
            background: transparent;
            outline: none;
            width: 90%;
            float: left;
        }
    }
}

.overflow {
    overflow: hidden;
}

.task-list {
    // display: -webkit-box;   
    // display: -moz-box;         
    // display: -ms-flexbox;      
    // display: -webkit-flex;     
    // display: flex;
    // flex-direction: column;
    // flex: 1;
}

.pagination {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background-color: #dfe1e5;
    @include box-shadow(0 1px 10px rgba(0,0,0,.31));
    text-align: center;
    padding: 4px 0;
    z-index: 998;

    // .pagination_unit
    &_unit {
        display: inline-block;
        vertical-align: top;
    }

    // .pagination_pages
    &_pages {
        margin: 3px 10px;
    }

    li {
        display: inline-block;
        vertical-align: top;

        // &:nth-child(1n+10) {
        //     display: none;
        // }

        &:last-child {
            display: inline-block;
        }

        & + li {
            margin-left: 5px;
        }
    }

    span {
        text-decoration: none;
        color: #7d7d80;
        font-size: 12px;
        cursor: pointer;

        &[data-active="true"] {
            color: #4e4e4f;
            font-weight: bold;
        }
    }

    .icon {
        fill: rgba(0, 0, 0, 0.33);
        font-size: 32px;
        cursor: pointer;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    font-size: 40px;
}

.custom-select {
    $self: custom-select;

    &-base {
        // text-align: center;
        position: relative;
        float: left;
        margin-right: 10px;
        // min-width: 80px;
        // max-width: 200px;
        cursor: pointer;
        // border-bottom: 1px solid #bbb;
        color: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        max-width: 90px;
        min-width: 90px;
        
        // .custom-select-value
        .#{$self}-value {
            display: block;
            @extend .text-overflow;
            position: relative;
            padding-right: 20px;
            padding-left: 10px;
            // float: left;
            text-transform: capitalize;
            border: none;
            cursor: pointer;
            background: none;
            width: 100%;
        }

        input {
            &::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.75);}
            &::-moz-placeholder          {color: rgba(0, 0, 0, 0.75);}/* Firefox 19+ */
            &:-moz-placeholder           {color: rgba(0, 0, 0, 0.75);}/* Firefox 18- */
            &:-ms-input-placeholder      {color: rgba(0, 0, 0, 0.75);}
        }

        &[data-search]{
            .custom-select-dropdown {
                padding: 10px 10px 20px 10px;
                width: 255px;

                ul {
                    margin-top: 10px;

                    li {
                        padding: 10px 20px;
                        border-bottom: 1px solid #ddd;
                    }
                }
            }

            .icon {
                font-size: 20px;
            }
        }
        &.companies,
        &.projects,
        &.milestones {
            max-width: 120px;
            min-width: 120px;

            .custom-select-value {
                padding-right: 20px;
            }
        }

        &.priority {
            // width: 100px;
            text-align: left;

            &[data-selected]:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 5px;
                float: left;
                background-repeat: no-repeat;
                position: absolute;
            }

            &[data-selected="critical"]:before {
                background-image: url(../img/icon/icon-critical-small.svg);
            }
            
            &[data-selected="high"]:before {
                background-image: url(../img/icon/icon-high-small.svg);
            }

            &[data-selected="med"]:before {
                background-image: url(../img/icon/icon-medium-small.svg);
            }

            &[data-selected="low"]:before {
                background-image: url(../img/icon/icon-low-small.svg);
            }

            .custom-select-container {
                text-transform: capitalize;
            }

            .#{$self}-value {
                padding-left: 25px;
            }

            li {
                &:before {
                    content: '';
                    background-repeat: no-repeat;
                    background-position: 5px 10px;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    margin-right: 5px;
                    float: left;
                }

                &[data-text="critical"]:before {
                    background: url(../img/icon/icon-critical-small.svg);
                }

                &[data-text="high"]:before {
                    background: url(../img/icon/icon-high-small.svg);
                }

                &[data-text="med"]:before {
                    background: url(../img/icon/icon-medium-small.svg);
                }

                &[data-text="low"]:before {
                    background: url(../img/icon/icon-low-small.svg);
                }
            }
        }
    }

    // .custom-select-open
    &-open {    
        // .custom-select-dropdown
        .#{$self}-dropdown {
            display: block;
        }
    }

    // .custom-select-dropdown
    &-dropdown {
        position: absolute;
        background: #f0f0f1;
        right: 0;
        top: 32px;
        box-shadow: 0 0 4px 0px #A5A5A5;
        z-index: 1000;
        width: 100%;
        display: none;
        max-width: 300px;
        color: #000;
        text-align: center;
        // .custom-select-dropdown-search
        &-search {
            border: none;
            padding: 8px;
            background: none;
            outline: none;
            width: 80%;
            border-bottom: 1px solid #ccc;
            text-align: center;
            font-size: 16px;
            font-family: "Open Sans", Arial;
        }

        ul { 
            max-height: 250px;
            overflow-y: auto;  

            li {
                padding: 8px;
                cursor: pointer;
                font-size: 14px;

                &.active {
                    background: #fcfcfd;
                }

                &:hover {
                    background: #fcfcfd;
                }

                .unit {
                    font-size: 14px;
                    @extend .text-overflow;
                }
            }
        }
    }

    // .custom-select-status
    &.custom-select-status {
        .#{$self}-value {
            border: 1px solid;
            @include border-radius(5px);
            display: inline-block;
            padding: 2px 10px;
            font-size: 10px;
            text-transform: capitalize;
            font-weight: bold;
            line-height: 15px;
            cursor: pointer;
        }
        
        &[data-selected="complete"] {
            // .custom-select-value
            .#{$self}-value {
                color: #715539;
                border-color: #715539;
            }
        }

        &[data-selected="new"] {
            // .custom-select-value
            .#{$self}-value {
                color: #5020b1;
                border-color: #5020b1;
            }
        }

        &[data-selected="sent back"] {
            // .custom-select-value
            .#{$self}-value {
                color: #b7b7b7;
                border-color: #b7b7b7;
            }
        }

        &[data-selected="approved"] {
            // .custom-select-value
            .#{$self}-value {
                /**/
            }
        }

        .#{$self}-dropdown {
            ul {
                li {
                    text-align: center;

                    &[data-text="complete"] {
                        .unit {
                            color: #715539;
                            border-color: #715539;
                        }
                    }

                    &[data-text="new"] {
                       .unit {
                            color: #5020b1;
                            border-color: #5020b1;
                        }
                    }

                    &[data-text="sent back"] {
                        .unit {
                            color: #b7b7b7;
                            border-color: #b7b7b7;
                        }
                    }

                    &[data-text="approved"] {
                        .unit {
                            /**/
                        }
                    }

                    .unit {
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid;
                        @include border-radius(5px);
                        padding: 2px 10px;
                        font-size: 10px;
                        text-transform: capitalize;
                        font-weight: bold;
                        line-height: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.hide{
    display: none;
}

.see-more-panel {
    position: absolute;
    padding-top: 60px;
    padding-bottom: 145px;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ViZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTllYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -o-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -webkit-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: linear-gradient(41deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */

    .close-see-more {
        color: #817E81;
        text-decoration: none;
        float: right;
        font-size: 10px;
        margin-top: -10px;
        margin-right: -20px;
        cursor: pointer;
    }
    
    // .see-more-panel_title
    // .see-more-panel_full-desc
    &_title,
    &_full-desc {
        input,
        textarea {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            color: #000;
            opacity: .76;
            border: 1px solid #d6d6d6;
            padding: 10px 10px;
            @include border-radius(3px);
        }
    }
    
    // .see-more-panel_header
    &_header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 19px 30px;
    }
    
    // .see-more-panel_title
    &_title {
        color: #000;
        font-size: 14px;
        font-weight: 700;

        input {
            height: 34px;
        }
    }
    
    // .see-more-panel_full-desc
    &_full-desc {
        padding: 0 30px;

        textarea {            
            height: 100%;
            display: block;
        }

        p {
            & + p {
                margin-top: 15px;
            }
        }
    }
    
    // .see-more-panel_footer
    &_footer {
        background-color: #e5e7eb;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        border-top: 1px solid #d0d2d7;

        img {
            @include border-radius(4px);

            & + img {
                margin-left: 5px;
            }
        }
    }
}

.icon-round {
    width: 12px;
    height: 12px;
    display: inline-block;
    @include border-radius(50%);
    border: 2px solid #3eb5f1;
    vertical-align: middle;
}

.icon-round-full {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #3eb5f1;
    @include border-radius(50%);
    margin-right: 5px;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ViZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTllYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -o-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -webkit-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: linear-gradient(41deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    
    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        z-index: 1001;
        // background-repeat: no-repeat;
        // background: url(../img/avatar.png);

        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #e74c3c;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #f9c922;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

        // span {
        //     display: block;
        //     position: relative;
        //     left: 50%;
        //     top: 50%;
        //     width: 150px;
        //     height: 150px;
        //     margin: -75px 0 0 -75px;
        //     border-radius: 50%;
        //     border: 3px solid transparent;
        //     border-top-color: green;
        //     -webkit-animation: spin 2s linear infinite;
        //     animation: spin 2s linear infinite;
        //     z-index: 1001;

        //     &:before {
        //         content: "";
        //         position: absolute;
        //         top: 5px;
        //         left: 5px;
        //         right: 5px;
        //         bottom: 5px;
        //         border-radius: 50%;
        //         border: 3px solid transparent;
        //         border-top-color: #e74c3c;
        //         -webkit-animation: spin 3s linear infinite;
        //         animation: spin 3s linear infinite;
        //     }

        //     &:after {
        //         content: "";
        //         position: absolute;
        //         top: 15px;
        //         left: 15px;
        //         right: 15px;
        //         bottom: 15px;
        //         border-radius: 50%;
        //         border: 3px solid transparent;
        //         border-top-color: #f9c922;
        //         -webkit-animation: spin 1.5s linear infinite;
        //         animation: spin 1.5s linear infinite;
        //     }
        // }
    }
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.status-select {
    position: absolute;
    text-align: center;
    top: 19px;
    background-color: #f1f1f2;
    display: none;
    z-index: 1;
    left: 0;
    right: 0;

    ul {
        padding: 4px 0;
    }

    li {
        padding: 4px 0;

        &:hover {
            background-color: #fff;
        }

        // & + li {
        //     margin-top: 8px;
        // }
    }
}

.tag {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #d0d0d0;
    color: #9a9a9a;
    padding: 0 5px;
    @include border-radius(4px);
    @extend .text-overflow;
    max-width: 50px;

    & + .tag {
        margin-left: 5px;
    }

    .icon {
        font-size: 6px;
        margin-top: -2px;
        cursor: pointer;
        fill: #9a9a9a;
    }
}

.assignee-panel {
    border-left: 1px solid rgba(65, 61, 75, 0.01);
    padding: 126px 0 106px 0;
    position: absolute;
    width: 322px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ViZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTllYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%);
    background-image: -o-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%);
    background-image: -webkit-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%);
    background-image: linear-gradient(41deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%);
    @include box-shadow(-1px 0 10px #000);
    
    // .assignee-panel_header
    // .assignee-panel_controls
    &_header,
    &_controls {
        position: absolute;
        left: 0;
        right: 0;
    }
    
    // .assignee-panel_header
    &_header {
        top: 0;
        text-align: center;

        span {
            display: block;
            background: #f2f3f5;
            padding: 25px 0;
            color: #010101;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.05em;
        }
    }
    
    // .assignee-panel_search
    &_search {
        position: relative;
        margin-top: 30px;
        padding: 0 20px;

        input {
            outline: none;
            background: transparent;
            text-align: center;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            width: 100%;
            color: rgba(0, 0, 0, 0.88);
            font-size: 14px;
            font-family: "Open Sans", Arial;
        }

        .icon {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px;
        }
    }
    
    // .assignee-panel_controls
    &_controls {
        background: #f2f3f5;
        bottom: 0;
        padding: 15px 0;
        text-align: center;

        .btn-apply {
            color: #6458a0;
            // font-family: "GothamPro";
            font-size: 14px;
            font-weight: bold;
            @include border-radius(25px);
            border: 3px solid #81589f;
            padding: 8px 43px;
        }

        .btn-close {
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.75);
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid rgba(61, 61, 61, 0.75);
        }
    }
    
    // .assignee-panel_conten
    &_content {
        padding: 30px 20px;

        li {cursor: pointer;
            &.active{
                background: #fff;
            }
            & + li {
                margin-top: 15px;
            }
            
            input,
            img,
            .user-data {
                display: inline-block;
                vertical-align: middle;
            }

            img {
                @include border-radius(4px);
            }
        }
    }

    .user-data {
        color: #25212d; /* text color */
        font-size: 14px;

        .name {
            font-weight: 600;
        }
    }
}

.spent-hours {
    position: absolute;
    padding: 15px;
    right: 240px;
    bottom: 230px;
    width: 290px;
    height: 194px;
    @include border-radius(3px);
    @include box-shadow(0 0 24px rgba(0,0,0,.38));
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ViZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTllYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -o-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -webkit-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: linear-gradient(41deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */

    textarea {
        width: 100%;
        height: 75px;
        @include border-radius(3px);
        border: 1px solid rgba(0, 0, 0, 0.07);
        padding: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.62);
    }

    input {
        border-bottom: 1px solid rgba(99, 87, 161, 0.15);
        width: 40px;
        text-align: center;
        color: #49494a;
        font-size: 14px;
    }
    
    // .spent-hours_actual
    &_actual {
        text-align: center;

        span {
            color: #49494a;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.05em;
        }
    }
    
    // .spent-hours_control
    &_control {
        text-align: center;
        margin-top: 25px;

        button {
            @include border-radius(17px);
            border: 2px solid #81589f;
            color: #6458a0;
            font-size: 14px;
            font-weight: bold;
            padding: 6px 20px;
            background: transparent;
        }
    }
}