.dashboard {
    $base-width: 1437;
    $one-unit: $base-width / 100;
    $ul-width: 568 / $one-unit * 1%;
    
    // .dashboard-header
    &-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #3f3b4a;
        height: 65px;
        z-index: 10;
    }
    
    // .dashboard-header_menu
    &-header_menu{
        $base-width: 1437;
        $one-unit: $base-width / 100;
        $ul-width: 568 / $one-unit * 1%;

        width: calc(#{$ul-width});
        height: 100%;

        .navbar-nav {
            height: 100%;
            li {
                height: 100%;
                display: inline-block;
                width: calc(100% / 4);
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
    
    // .dashboard-header_info
    &-header_info {
        width: calc(100% - #{$ul-width});
    }
    
    // .dashboard-header_dropdown
    &-header_dropdown {
        color: #fff;
        background-color: #393543;
        padding: 7px 20px;
        border-right: 1px solid #433f4d;
    }
    
    // .dashboard-header_progress
    &-header_progress {
        width: 350px;
        color: #fff;
        background-color: #393543;
        padding: 5px 20px;

        .progress {
            margin-top: 3px;
            width: 100%;
            background: #ccc;
            height: 5px;
            border-radius: 5px;

            span {
                border-radius: 5px;
                display: block;
                height: 100%;
                width: 75%;
                background-color: green;
            }
        }

        .lvl {
            font-size: 14px;

            span {
                font-size: 18px;
            }
        }
    }
    
    // .dashboard-header_unit
    &-header_unit {
        display: block;
        float: left;
        height: 100%;
    }
    
    // .dashboard-menu_btn
    &-menu_btn {
        color: #fff;
        text-align: center;
        height: 100%;
        position: relative;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        &[data-active="true"] {
            box-shadow: 0 0 20px -7px #000;
            &:after{
                content: '';
                position: absolute;
                height: 5px;
                background: rgba(63, 59, 74, 0.74);
                width: 100%;
                left: 0;
                z-index: 1000;
            }
        }
    }

    // .dashboard-table-header
    &-table-header {
        display: none;

        table {
            width: 100%;
            border-collapse: collapse;

            & > tbody {
                & > tr {
                    @extend .display-flex;
                    padding: 11px 0 10px 0;
                    background: #e3e4e6;
                    border-top: 1px solid #D0D0D0;
                    border-bottom: 1px solid #DAD7D7;
                    @include box-shadow(0 0 8px rgba(0,0,0,.19));

                    td {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px;
                        font-size: 12px;
                        font-weight: 600;
                        cursor: pointer;

                        &.active {
                            i {
                                display: initial;
                            }
                        }

                        &[data-active="true"]{
                            background: green;
                        }

                        i {
                            display: none;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    
    // .dashboard-table
    &-table {
        width: 100%;
        border-collapse: collapse;
        @extend .display-flex;
        flex-direction: column;
        flex: 1;

        & > tbody {
            @extend .display-flex;
            flex-direction: column;
            flex: 1;

            & > tr {
                @extend .display-flex;
                flex: 1;
                align-items: center;
                border-bottom: 1px solid #dbdbdc;
                position: relative;
                cursor: pointer;

                &:hover {
                    background: #fff;
                    @include box-shadow(0 0 5px -2px #777);

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 10px;
                        background: #FFFFFF;
                        @include box-shadow(0 0 21px -2px #000);
                    }
                }

                & > td {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 5px;
                    font-size: 12px;
                }
            }
        }

        .title {
            color: #565656;
            font-weight: bold;
            overflow: hidden;

            .task-name {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 300px);
                max-width: calc(100% - 300px);

                @media(max-width: 1024px) {
                    width: 100%;
                    max-width: 100%;
                }

                span {
                    display: block;
                    @extend .text-overflow;                    
                }
            }

            .icon {
                font-size: 15px;
                float: left;
            }

            .tags {
                display: inline-block;
                vertical-align: middle;
                width: 295px;

                @media(max-width: 1024px) {
                    display: none;
                }
            }

            .tag {
                display: inline-block;
                margin-left: 5px;
                font-size: 12px;
                font-weight: normal;
                border: 1px solid #d0d0d0;
                color: #9a9a9a;
                padding: 0 5px;
                @include border-radius(4px);
                @extend .text-overflow;
                max-width: 50px;

                & + .tag {
                    margin-left: 5px;
                }
            }
        }

        .projects {
            font-weight: bold;
            color: #565656;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            .icon {
                font-size: 17px;
            }

            [data-priority] {
                display: inline-block;
                padding: 1px 5px;
                font-size: 12px;
                
                &[data-priority="high"]:before {
                    /**/
                }

                &[data-priority="low"]:before {
                    /**/
                }
            }
        }

        .status {
            [data-status] {
                border: 1px solid;
                border-radius: 5px;
                display: inline-block;
                padding: 1px 10px;
                font-size: 10px;
                text-transform: capitalize;
                font-weight: bold;
                line-height: 15px;

                &[data-status="new"] {
                    color: #5020b1;
                    border-color: #5020b1;
                }

                &[data-status="send back"] {
                    color: #b7b7b7;
                    border-color: #b7b7b7;
                }

                &[data-status="completed"] {
                    color: #715539;
                    border-color: #715539;
                }

                &[data-status="done"] {
                    color: #4a8b9f;
                    border-color: #4a8b9f;
                }

                &[data-status="on hold"] {
                    color: #e7a765;
                    border-color: #e7a765;
                }
            }
        }

        .assignee {
            .avatar{
                width: 32px;
                height: 32px;
                float: left;
                border-radius: 4px;
            }
        }

        .milestone {
            .icon {
                font-size: 15px;
            }

            .info {
                display: inline-block;
                vertical-align: top;
                font-weight: bold;
                color: #616066;

                & > div {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            span {
                display: block;
            }

            .deadline {
                font-size: 9px;
                font-weight: 500;
            }
        }

        .created {
            .icon {
                font-size: 15px;
            }
        }
    }

    // .dashboard-table-header
    // .dashboard-table
    &-table-header,
    &-table {
        .title {
            // width: 45.5%;
            width: calc(100% - 24% - 376px);
            margin-left: 5px;
        }

        .projects {
            width: 5%;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            width: 42px;
            text-align: center;
        }

        .status {
            // width: 9%;
            width: 92px;
            text-align: center;
        }

        .assignee {
            width: 42px;
            margin-right: 15px;
        }

        .milestone {
            width: 19%;
        }

        .created {
            // width: 11%;
            width: 113px;
        }

        .updated {
            // width: 8.5%;
            width: 87px;
        }
    }
}

.tasks-edit {
    position: absolute;
    background: #d8d7dc;
    background: -moz-linear-gradient(-45deg,  #d8d7dc 0%, #e2dbdf 100%);
    background: -webkit-linear-gradient(-45deg,  #d8d7dc 0%,#e2dbdf 100%);
    background: linear-gradient(135deg,  #d8d7dc 0%,#e2dbdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d7dc', endColorstr='#e2dbdf',GradientType=1 );
    width: 990px;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #B5B5B5;
    z-index: 100;

    .close-icon {
        color: #817E81;
        text-decoration: none;
        float: right;
        font-size: 20px;
        margin-top: -10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .description {
        padding: 19px 0 19px 42px;
        background: #E0DFE4;

        p {
            float: left;
        }

        .name {
            font-size: 14px;
            font-weight: bold;
            color: #211d2f;
            letter-spacing: 0.001em;


            .fa-circle-o {
                font-size: 15px;
                padding-right: 8px;
            }

            .icon-radio-unchecked {
                font-size: 14px;
            }

            .fa-pencil {
                font-size: 18px;
                cursor: pointer;
                padding-left: 10px;
            }
        }
        
        // .description-text
        &-text {
            padding: 1px 21px;

            span {
                color: #6B6A6A;
                font-size: 15px;
                @extend .text-overflow;
                display: block;
                max-width: 90%;
                float: left;
            }

            .see_more {
                margin-left: 5px;
                color: #000;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }

    .tasks-description {
        position: relative;
        padding-top: 84px;

        .description {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }

        .tabs-view,
        .details-view {
            float: left;
            height: 100%;
        }

        .tabs-view {
            width: 592px;
        }

        .details-view {
            width: calc(100% - 592px);
        }
    }

    .details-table {
        li {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 6px 0;

            & > span {
                flex: 1;
                display: flex;
                flex-direction: row;
                padding: 0 10px;
            }
        }

        .details-table_term {
            justify-content: flex-end;
            font-weight: 700;
            color: #545457;
        }

        .details-table_description {
            color: #7A7A80;
        }
    }

    .date-icon {
        &:before {
            font-family: 'icomoon' !important;
            content: "\e901";
            padding-right: 4px;
            vertical-align: middle;
        }

        &.start:before {
            color: #555659;
        }

        &.finish:before {
            color: #FF7078;
        }
    }
}