.dashboard {
    .tasks {
        .task-tabs {
            background: #221d2f;
            overflow: hidden;
            a {
                color: #fff;
                padding: 5px;
                display: block;
                float: left;
                width: 100%;
                &[data-active="true"] {
                    background: #fff;
                    color: #999;
                }
            }
        }
    }
    .right_block {
        float: right;
        width: 65%;
    }
    .active-task {
        position: absolute;
        top: 0;
        right: 0;
        background: #777777;
        width: 60%;
        height: 100%;
    }
}