.dashboard {
    .tasks {
        .task-tabs {
            background: #221d2f;
            overflow: hidden;
            a {
                color: #fff;
                padding: 5px;
                display: block;
                float: left;
                width: 100%;
                &[data-active="true"] {
                    background: #fff;
                    color: #999;
                }
            }
        }
    }
    .right_block {
        float: right;
        width: 65%;
    }
    .dashboard-menu{
        overflow: hidden;
        .navbar-nav {
            background: #221d2f;
            li {
                a {
                    color: #fff;
                    padding: 5px;
                    &[data-active="true"] {
                        background: #fff;
                        color: #999;
                    }
                }
            }
        }
    }
}