@import "mixins";
@import "variables";
@import "fonts";
@import "header/header";
@import "dashboard/dashboard";
@import "tree/tree";
@import "stats/stats";
@import "finance/finance";

* {
    padding: 0; 
    margin: 0;
    @extend .border-box;
}

ul {
	list-style: none;
}

html,
body {
    @extend .full-size;
}

body {
    line-height: normal;
    font-family: "Open Sans", Arial;
}

.header {
    background-color: $header-bgcolor;
    padding: 4px 0 3px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    &_nav {
        display: inline-block;
        margin-left: 20px;
    }

    .navbar-nav {
        & > li {
            float: left;

            a {
                padding: 0 15px;
                font-size: 18px;
                font-weight: 600;
                font-family: "Open Sans", Arial;
                color: #928f9a;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    color: #ffffff;
                }

                &[data-active="true"] {
                    color: #ffffff;
                }
            }
        }
    }

    &_controls {
        display: inline-block;
        float: right;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
    }

    &-container {
        display: inline-block;
        vertical-align: middle;
        margin-left: 7px;
    }
}

.dashboard {
    $base-width: 1437;
    $one-unit: $base-width / 100;
    $ul-width: 568 / $one-unit * 1%;

    &-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #3f3b4a;
        height: 65px;
    }

    &-header_menu{
        $base-width: 1437;
        $one-unit: $base-width / 100;
        $ul-width: 568 / $one-unit * 1%;
        
        width: calc(#{$ul-width});
        height: 100%;
        
        .navbar-nav {
            height: 100%;
            li {
                height: 100%;
                display: inline-block;
                width: calc(100% / 4);
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    &-header_info {
        width: calc(100% - #{$ul-width});
    }

    &-header_dropdown {
        color: #fff;
        background-color: #393543;
        padding: 7px 20px;
        border-right: 1px solid #433f4d;
    }

    &-header_progress {
        width: 350px;
        color: #fff;
        background-color: #393543;
        padding: 0 20px;
    }

    &-header_unit {
        display: block;
        float: left;
        // display: inline-block;
        // vertical-align: middle;
        height: 100%;
        // line-height: 63px;
    }

    &-menu_btn {
        color: #fff;
        text-align: center;
        height: 100%;

        &[data-active="true"] {
            box-shadow: 0 4px 0 0 #3f3b4a;
        }
    }

    &-table {
        width: 100%;
        border-collapse: collapse;

        & > tbody {
            & > tr {
                border-bottom: 1px solid #ccc;
            }
            
            & td {
                display: inline-block;
                vertical-align: top;
                padding: 7px 10px;
            }
        }

        .name {
            width: 25%;
        }

        .priority {
            width: 5%;
            text-align: center;
        }

        .status {
            width: 8%;
            text-align: center;
        }

        .assignee {
            width: 15%;
        }

        .milestone {
            width: 15%;
        }

        .date {
            width: 10%;
        }

        .ago {
            width: 10%;
        }
    }
}

.right-user-area {
    $self: right-user-area;

    &_unit {
        float: left;

        + .#{$self} {
            &_unit {
                margin-left: 20px;
            }
        }
    }
}

.main {
    &-wrap {
        position: relative;
        padding-top: 60px;
    }

    &-content {
        position: relative;
        padding-top: 70px;
        background-color: #d9d9db;
    }
}

.have-filter {
    position: relative;
    padding-top: 70px;
}

.filters-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f3f3f5;
    height: 70px;
    padding: 20px 15px;
    border-bottom: 1px solid #e3e3e5;

    .left-filters {
        float: left;
    }

    .right-filters {
        float: right;
    }

    .btn-add-new {
        display: inline-block;
        vertical-align: middle;
    }

    .btn-add-new {
        padding: 5px 25px;
        border: 1px solid #9a9a9a;
        border-radius: 20px;
        text-decoration: none;
        color: #9a9a9a;
    }

    ul {
        display: inline-block;
        vertical-align: middle;

        li {
            display: inline-block;
            vertical-align: middle;
        }

        li + li {
            margin-left: 10px;
        }
    }

    .base-filters {
        margin-left: 20px;

        li {
            &[data-active="true"] {
                a {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }

        a {
            color: #9a9a9a;
            text-decoration: none;
        }
    }

    .custom-filters {
        margin-right: 20px;
    }
}

.bb-route-container {
    position: relative;
}

.content {
  // height: calc(100% - 60px);
  background: #b2c2dd;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYzJkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NlYzlkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGNkY2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #b2c2dd 0%, #cec9d2 50%, #d8cdce 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b2c2dd), color-stop(50%, #cec9d2), color-stop(100%, #d8cdce));
  background: -webkit-linear-gradient(left, #b2c2dd 0%, #cec9d2 50%, #d8cdce 100%);
  background: -o-linear-gradient(left, #b2c2dd 0%, #cec9d2 50%, #d8cdce 100%);
  background: -ms-linear-gradient(left, #b2c2dd 0%, #cec9d2 50%, #d8cdce 100%);
  background: linear-gradient(to right, #b2c2dd 0%, #cec9d2 50%, #d8cdce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2c2dd', endColorstr='#d8cdce', GradientType=1);
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 1;
}


// .left-block {
//     float: left;
//     width: 588px;
//     margin-right: 10px;

//     &_content {
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         flex: 1;
//         background: #423650;
//         background: -moz-radial-gradient(center, ellipse cover, #423650 0%, #271c3c 100%);
//         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #423650), color-stop(100%, #271c3c));
//         background: -webkit-radial-gradient(center, ellipse cover, #423650 0%, #271c3c 100%);
//         background: -o-radial-gradient(center, ellipse cover, #423650 0%, #271c3c 100%);
//         background: -ms-radial-gradient(center, ellipse cover, #423650 0%, #271c3c 100%);
//         background: radial-gradient(ellipse at center, #423650 0%, #271c3c 100%);
//         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#423650', endColorstr='#271c3c', GradientType=1);
//     }
// }

// .right-block {
//     float: left;
//     width: calc(100% - 598px);
// }