@import "mixins";
@import "variables";
@import "fonts";
@import "header/header";
@import "dashboard/dashboard";
@import "tree/tree";
@import "stats/stats";
@import "finance/finance";

* {
    padding: 0; 
    margin: 0;
    @extend .border-box;
}

ul {
	list-style: none;
}

html,
body {
    overflow: hidden;
    @extend .full-size;
}

body {
    line-height: normal;
    font-family: "Open Sans", Arial;
    background: #F2F3F5;
}

.dashboard {
    $base-width: 1437;
    $one-unit: $base-width / 100;
    $ul-width: 568 / $one-unit * 1%;

    &-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #3f3b4a;
        height: 65px;
    }

    &-header_menu{
        $base-width: 1437;
        $one-unit: $base-width / 100;
        $ul-width: 568 / $one-unit * 1%;
        
        width: calc(#{$ul-width});
        height: 100%;
        
        .navbar-nav {
            height: 100%;
            li {
                height: 100%;
                display: inline-block;
                width: calc(100% / 4);
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    &-header_info {
        width: calc(100% - #{$ul-width});
    }

    &-header_dropdown {
        color: #fff;
        background-color: #393543;
        padding: 7px 20px;
        border-right: 1px solid #433f4d;
    }

    &-header_progress {
        width: 350px;
        color: #fff;
        background-color: #393543;
        padding: 5px 20px;

        .progress {
            margin-top: 3px;
            width: 100%;
            background: #ccc;
            height: 5px;
            border-radius: 5px;

            span {
                border-radius: 5px;
                display: block;
                height: 100%;
                width: 75%;
                background-color: green;
            }
        }

        .lvl {
            font-size: 14px;

            span {
                font-size: 18px;
            }
        }
    }

    &-header_unit {
        display: block;
        float: left;
        // display: inline-block;
        // vertical-align: middle;
        height: 100%;
        // line-height: 63px;
    }

    &-menu_btn {
        color: #fff;
        text-align: center;
        height: 100%;
        position: relative;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        &[data-active="true"] {
            box-shadow: 0 0 20px -7px #000;
            &:after{
                content: '';
                position: absolute;
                height: 5px;
                background: rgba(63, 59, 74, 0.74);
                width: 100%;
                left: 0;
                z-index: 1000;
            }
        }
    }
    &-table-header{
        width: 100%;
        border-collapse: collapse;
        display: none;

        & > tbody {
            & > tr {
                margin: 15px 0 0;
                display: block;
                box-shadow: 0 0 5px -1px #B7B7B7;
                background: #e3e4e6;
                border-top: 1px solid #D0D0D0;
                border-bottom: 1px solid #DAD7D7;
                padding: 10px 0;
                td{
                    display: inline-block;
                    font-weight: 600;
                    padding: 0 10px;
                    cursor:pointer;
                    .icon-arrow-down{
                        font-size: 12px;
                    }
                }
            }
        }
        .name {
            width: 25%;
            margin-left: 10px;
        }

        .priority {
            width: 5%;
            text-align: center;
        }

        .assignee {
            width: 15%;
        }

        .milestone {
            width: 20%;
        }

        .date {
            width: 10%;
        }

        .ago {
            width: 10%;
        }
    }
    &-table {
        width: 100%;
        border-collapse: collapse;

        & > tbody {
            & > tr {
                border-bottom: 1px solid #dbdbdc;
                position: relative;
                display: block;
                cursor: pointer;
                &:hover{
                    background: #fff;
                    box-shadow: 0 0 5px -2px #777;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 10px;
                        background: #FFFFFF;
                        box-shadow: 0 0 21px -2px #000;
                        height: 100%;
                    }
                }
            }
            
            & td {
                display: inline-block;
                padding: 3px 10px;
            }
        }

        .name {
            width: 20%;
            margin-left: 10px;
            color: #000;
            font-family: "OpenSans", sans-serif;
            font-size: 12px;
            font-weight: bold;

            .icon-radio-unchecked {
                color: #68ADF3;
                font-size: 12px;
                margin-right: 5px;
            }
            .tags{
                display: inline-block;
                span{
                    font-size: 14px;
                }
            }
        }

        .no-name {
            font-family: "OpenSans", sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #6a6a6b;
        }

        .priority {
            width: 5%;
            text-align: center;
        }

        .assignee {
            width: 15%;
            .avatar{
                width: 35px;
                float: left;
                border-radius: 4px;
                margin-right: 8px;
            }
        }

        .milestone {
            width: 20%;

            i {
                display: inline-block;
            }

            .info {
                display: inline-block;
                vertical-align: top;
            }

            span {
                display: block;
            }

            .deadline {
                font-size: 12px;
            }
        }

        .date {
            width: 10%;
        }

        .ago {
            width: 10%;
        }
    }
}

.status {
    width: 10%;
    text-align: center;

    [data-status] {
        border: 1px solid;
        border-radius: 5px;
        display: inline-block;
        padding: 1px 5px;
        font-size: 12px;
        font-weight: 600;

        &[data-status="new"] {
            color: #7545A5;
            border-color: #7545A5;
        }

        &[data-status="send back"] {
            color: #999;
            border-color: #999;
        }

        &[data-status="completed"] {
            color: brown;
            border-color: brown;
        }

        &[data-status="done"] {
            color: #45B3AB;
            border-color: #45B3AB;
        }

        &[data-status="on hold"] {
            color: #EFB730;
            border-color: #EFB730;
        }
    }
}

.priority {
    [data-priority] {
        display: inline-block;
        padding: 1px 5px;
        font-size: 12px;
        font-family: 'icomoon' !important;
        &[data-priority="high"]:before {
            content: "\e904";
            color: brown;
        }
        &[data-priority="low"]:before {
            content: "\e905";
            color: #45B3AB;
        }
    }
}

.right-user-area {
    $self: right-user-area;

    &_unit {
        display: inline-block;
        vertical-align: middle;

        + .#{$self} {
            &_unit {
                margin-left: 20px;
            }
        }

        i {
            color: #fff;
        }

        .current-user {
            width: 60px;
            height: 60px;
            background-color: #fff;
        }
    }
}

.main {
    &-wrap {
        position: relative;
        padding-top: 60px;
    }

    &-content {
        position: relative;
        padding-top: 65px;
        // background-color: #f3f3f5;
        background: #f0edee;
        background: -moz-radial-gradient(center, ellipse cover,  #f0edee 50%, #cecfd3 100%);
        background: -webkit-radial-gradient(center, ellipse cover,  #f0edee 50%,#cecfd3 100%);
        background: radial-gradient(ellipse at center,  #f0edee 50%,#cecfd3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0edee', endColorstr='#cecfd3',GradientType=1 );
    }
}

.tasks {
    position: relative;

    &.have-filter {
        padding-top: 64px;
    }
    
    &.have-sort {
        padding-top: 145px;
    }
}

.filters-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f3f3f5;
    // height: 70px;
    // border-bottom: 1px solid #e3e3e5;

    .left-filters {
        float: left;
        padding: 20px 0 10px 15px;
    }

    .right-filters {
        float: right;        
        padding: 20px 15px 10px 0;

        ul {
            margin-right: 20px;
        }
    }

    .btn-add-new {
        display: inline-block;
        vertical-align: middle;
    }

    .btn-add-new {
        padding: 5px 25px;
        border: 1px solid #9a9a9a;
        border-radius: 20px;
        text-decoration: none;
        color: #9a9a9a;
    }

    ul {
        display: inline-block;
        vertical-align: middle;

        li {
            display: inline-block;
            vertical-align: middle;
        }

        li + li {
            margin-left: 10px;
        }
    }

    .base-filters {
        margin-left: 20px;
        display: inline-block; 
        span{
            color: #9a9a9a;
            cursor: pointer;
        }
        &[data-active="all"]{
            [data-filter="all"]{
                color: #000;
                text-decoration: underline;
            }
        }
        &[data-active="todo"]{
            [data-filter="todo"]{
                color: #000;
                text-decoration: underline;
            }
        }
        &[data-active="my_tasks"]{
            [data-filter="my_tasks"]{
                color: #000;
                text-decoration: underline;
            }
        }

    }

    .custom-filters {
        border-bottom: 1px solid #b8b8ba;

        i {
            font-size: 12px;
        }
    }
}

.bb-route-container {
}

.overflow{
    overflow: hidden;
}