@import "mixins";
@import "variables";
@import "fonts/font-awesome";
@import "header/header";
@import "dashboard/dashboard";
@import "tree/tree";
@import "stats/stats";
@import "finance/finance";
@import "selectric.scss";

* {
    padding: 0;
    margin: 0;
    @extend .border-box;
}

ul {
	list-style: none;
}

html,
body {
    overflow: hidden;
    @extend .full-size;
}

body {
    line-height: normal;
    font-family: "Open Sans", Arial;
    background: #F2F3F5;
}

.dashboard {
    $base-width: 1437;
    $one-unit: $base-width / 100;
    $ul-width: 568 / $one-unit * 1%;

    &-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #3f3b4a;
        height: 65px;
    }

    &-header_menu{
        $base-width: 1437;
        $one-unit: $base-width / 100;
        $ul-width: 568 / $one-unit * 1%;

        width: calc(#{$ul-width});
        height: 100%;

        .navbar-nav {
            height: 100%;
            li {
                height: 100%;
                display: inline-block;
                width: calc(100% / 4);
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    &-header_info {
        width: calc(100% - #{$ul-width});
    }

    &-header_dropdown {
        color: #fff;
        background-color: #393543;
        padding: 7px 20px;
        border-right: 1px solid #433f4d;
    }

    &-header_progress {
        width: 350px;
        color: #fff;
        background-color: #393543;
        padding: 5px 20px;

        .progress {
            margin-top: 3px;
            width: 100%;
            background: #ccc;
            height: 5px;
            border-radius: 5px;

            span {
                border-radius: 5px;
                display: block;
                height: 100%;
                width: 75%;
                background-color: green;
            }
        }

        .lvl {
            font-size: 14px;

            span {
                font-size: 18px;
            }
        }
    }

    &-header_unit {
        display: block;
        float: left;
        // display: inline-block;
        // vertical-align: middle;
        height: 100%;
        // line-height: 63px;
    }

    &-menu_btn {
        color: #fff;
        text-align: center;
        height: 100%;
        position: relative;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        &[data-active="true"] {
            box-shadow: 0 0 20px -7px #000;
            &:after{
                content: '';
                position: absolute;
                height: 5px;
                background: rgba(63, 59, 74, 0.74);
                width: 100%;
                left: 0;
                z-index: 1000;
            }
        }
    }

    &-table-header {
        display: none;

        table {
            width: 100%;
            border-collapse: collapse;

            & > tbody {
                & > tr {
                    display: flex;
                    padding: 11px 0 10px 0;
                    background: #e3e4e6;
                    border-top: 1px solid #D0D0D0;
                    border-bottom: 1px solid #DAD7D7;
                    @include box-shadow(0 0 8px rgba(0,0,0,.19));

                    td {
                        display: inline-block;
                        font-weight: 600;
                        cursor: pointer;
                        padding: 0 10px;

                        &.active {
                            i {
                                display: initial;
                            }
                        }

                        // &[data-active="false"]{
                        //     background: red;
                        // }


                        &[data-active="true"]{
                            background: green;
                        }

                        i {
                            display: none;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    &-table {
        width: 100%;
        border-collapse: collapse;

        & > tbody {
            & > tr {
                border-bottom: 1px solid #dbdbdc;
                position: relative;
                display: block;
                cursor: pointer;

                &:hover {
                    background: #fff;
                    box-shadow: 0 0 5px -2px #777;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 10px;
                        background: #FFFFFF;
                        box-shadow: 0 0 21px -2px #000;
                    }
                }
            }

            & td {
                display: inline-block;
                padding: 2px 5px;
                font-size: 12px;
            }
        }

        .title {
            color: #000;
            font-weight: bold;
            overflow: hidden;

            .task-name {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 300px);
                max-width: calc(100% - 300px);

                @media(max-width: 1024px) {
                    width: 100%;
                    max-width: 100%;
                }

                span {
                    display: block;
                    @extend .text-overflow;                    
                }
            }

            .icon {
                font-size: 15px;
                float: left;
            }

            .tags {
                display: inline-block;
                vertical-align: middle;
                width: 295px;

                @media(max-width: 1024px) {
                    display: none;
                }
            }

            .tag {
                display: inline-block;
                margin-left: 5px;
                font-size: 12px;
                font-weight: normal;
                border: 1px solid #d0d0d0;
                color: #9a9a9a;
                padding: 0 5px;
                @include border-radius(4px);
                @extend .text-overflow;
                max-width: 50px;

                & + .tag {
                    margin-left: 5px;
                }
            }
        }

        .projects {
            font-family: "OpenSans", sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #6a6a6b;
            width: 10%;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            .icon {
                font-size: 17px;
            }
        }

        .assignee {
            .avatar{
                width: 32px;
                height: 32px;
                float: left;
                border-radius: 4px;
            }
        }

        .milestone {
            width: 20%;

            .icon {
                font-size: 15px;
            }

            .info {
                display: inline-block;
                vertical-align: top;
                font-weight: bold;
                color: #616066;

                & > div {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            span {
                display: block;
            }

            .deadline {
                font-size: 9px;
                font-weight: 500;
            }
        }

        .created {
            .icon {
                font-size: 15px;
            }
        }

        .updated {
            width: 10%;
        }

        .status {
            width: 10%;
            text-align: center;

            [data-status] {
                border: 1px solid;
                border-radius: 5px;
                display: inline-block;
                padding: 1px 10px;
                font-size: 10px;
                text-transform: capitalize;
                font-weight: bold;
                line-height: 15px;

                &[data-status="new"] {
                    color: #7545A5;
                    border-color: #7545A5;
                }

                &[data-status="send back"] {
                    color: #999;
                    border-color: #999;
                }

                &[data-status="completed"] {
                    color: brown;
                    border-color: brown;
                }

                &[data-status="done"] {
                    color: #45B3AB;
                    border-color: #45B3AB;
                }

                &[data-status="on hold"] {
                    color: #EFB730;
                    border-color: #EFB730;
                }
            }
        }

        .priority {
            [data-priority] {
                display: inline-block;
                padding: 1px 5px;
                font-size: 12px;
                font-family: 'icomoon' !important;
                &[data-priority="high"]:before {
                    content: "\e904";
                    color: brown;
                }
                &[data-priority="low"]:before {
                    content: "\e905";
                    color: #45B3AB;
                }
            }
        }
    }

    &-table-header,
    &-table {
        .title {
            width: 47.5%;
            margin-left: 5px;
        }

        .projects {
            width: 10%;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            width: 42px;
            text-align: center;
        }

        .status {
            width: 9%;
            text-align: center;
        }

        .assignee {
            width: 42px;
            margin-right: 15px;
        }

        .milestone {
            width: 19%;
        }

        .created {
            width: 11%;
        }

        .updated {
            width: 8.5%;
        }
    }
}

.main {
    &-wrap {
        position: relative;
        padding-top: 60px;
    }

    &-content {
        position: relative;
        padding-top: 65px;
        // background-image: url(../img/bg-content.jpg);
        // background-repeat: no-repeat;
        background: #f0edee;
        background: -moz-radial-gradient(center, ellipse cover,  #f0edee 50%, #cecfd3 100%);
        background: -webkit-radial-gradient(center, ellipse cover,  #f0edee 50%,#cecfd3 100%);
        background: radial-gradient(ellipse at center,  #f0edee 50%,#cecfd3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0edee', endColorstr='#cecfd3',GradientType=1 );
    }
}

.tasks {
    position: relative;
    padding-bottom: 40px;

    &.have-filter {
        padding-top: 77px;
    }

    &.have-sort {
        padding-top: 122px;
    }
}

.filters-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    background-color: #f3f3f5;

    .left-filters {
        float: left;
        padding: 13px 0 20px 12px;
    }

    .right-filters {
        float: right;
        padding: 15px 14px 18px 0;

        .selectric-wrapper {
            float: left;
            margin-right: 10px;
        }

        .custom-select {
            padding-top: 6px;
        }
    }

    .btn-add-new {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 19px 8px 19px;
        border: 1px solid #9a9a9a;
        border-radius: 20px;        
        color: #9a9a9a;
        
        .icon {
            font-size: 17px;
        }
    }

    .btn-show-sort {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 19px 8px 19px;
        border: 1px solid #81589f;
        color: #81589f;
        border-radius: 20px;
        text-decoration: none;

        .icon {
            font-size: 17px;
        }
    }

    .base-filters {
        margin-left: 13px;
        display: inline-block;

        span {
            color: #9a9a9a;
            cursor: pointer;
            margin-right: 14px;
            font-size: 15px;

            &.active {
                color: #000;
                text-decoration: underline;
            }
        }
    }

    .custom-filters {
        border-bottom: 1px solid #b8b8ba;

        i {
            font-size: 12px;
        }
    }

    .table-search {
        width: 392px;
        float: right;
        padding: 15px 29px 29px 0;

        input {
            padding: 5px;
            border: none;
            border-bottom: 1px solid #d4d4d4;
            background: transparent;
            outline: none;
            width: 100%;
        }
    }
}

.bb-route-container {
}

.overflow{
    overflow: hidden;
}

.task-list {
    display: -webkit-box;   
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dashboard-table {
    display: -webkit-box;   
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    flex: 1;

    tbody {
        display: -webkit-box;   
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        flex-direction: column;
        flex: 1;

        tr {
            display: -webkit-box;   
            display: -moz-box;         
            display: -ms-flexbox;      
            display: -webkit-flex;     
            display: flex;
            flex: 1;
            align-items: center;
        }
    }
}

.pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: #e0e1e5;
    text-align: center;
    padding: 8px 0;

    &_unit {
        display: inline-block;
        vertical-align: top;
    }

    &_pages {
        margin: 0 10px;
    }

    li {
        display: inline-block;
        vertical-align: top;

        &:nth-child(1n+10) {
            display: none;
        }

        &:last-child {
            display: inline-block;
        }

        & + li {
            margin-left: 5px;
        }

        &[data-active="true"] {
            a {
                color: #4e4e4f;
                font-weight: bold;
            }
        }
    }

    a {
        text-decoration: none;
        color: #7d7d80;
        font-size: 12px;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    font-size: 40px;
}

.custom-select {
    $self: custom-select;

    text-align: center;
    position: relative;
    float: left;
    margin-right: 10px;
    min-width: 80px;
    max-width: 200px;
    cursor: pointer;
    border-bottom: 1px solid #bbb;
    color: #b7b6b8;
    font-size: 14px;

    &[data-search]{
        .custom-select-dropdown{
            padding: 10px 10px 20px 10px;
            width: 250px;
            ul{
                margin-top: 10px;
                li{
                    padding: 10px 20px;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }

    &.projects,
    &.milestones {
        max-width: 80px;
    }

    &.priority {
        width: 100px;
        text-align: left;

        .custom-select-container {
            text-transform: capitalize;
            
            &:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 5px;
                float: left;
                background-repeat: no-repeat;
            }

            &[data-selected="critical"]:before {
                background-image: url(../img/icon/icon-critical-small.svg);
            }
            
            &[data-selected="high"]:before {
                background-image: url(../img/icon/icon-high-small.svg);
            }

            &[data-selected="medium"]:before {
                background-image: url(../img/icon/icon-medium-small.svg);
            }

            &[data-selected="low"]:before {
                background-image: url(../img/icon/icon-low-small.svg);
            }
        }

        li {
            &:before{
                content: '';
                background-repeat: no-repeat;
                background-position: 5px 10px;
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-right: 5px;
                float: left;
            }

            &[data-id="critical"]:before {
                background: url(../img/icon/icon-critical-small.svg);
            }

            &[data-id="high"]:before {
                background: url(../img/icon/icon-high-small.svg);
            }

            &[data-id="medium"]:before {
                background: url(../img/icon/icon-medium-small.svg);
            }

            &[data-id="low"]:before {
                background: url(../img/icon/icon-low-small.svg);
            }
        }
    }
    
    // .custom-select-value
    &-value {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    // .custom-select-dropdown
    &-dropdown {
        position: absolute;
        background: #f0f0f1;
        right: 0;
        top: 32px;
        box-shadow: 0 0 4px 0px #A5A5A5;
        z-index: 100;
        width: 100%;
        display: none;
        max-width: 300px;
        
        // .custom-select-dropdown-search
        &-search {
            border: none;
            padding: 8px;
            background: none;
            outline: none;
            width: 80%;
            border-bottom: 1px solid #ccc;
            text-align: center;
            font-size: 16px;
            font-family: "Open Sans", Arial;
        }

        .fa-search {
            color: #777;
        }

        ul { 
            max-height: 250px;
            overflow-y: auto;  

            li {
                padding: 8px;
                cursor: pointer;
                font-size: 14px;

                &.active {
                    background: #fcfcfd;
                }

                &:hover {
                    background: #fcfcfd;
                }

                .title {
                    font-size: 14px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.hide{
    display: none;
}