.header {
    background-color: $header-bgcolor;
    background-image: url(../img/logo_fon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    
    // .header_nav
    &_nav {
        display: inline-block;
        margin-left: 17px;
        padding: 3px 0 4px 0;
    }

    .navbar-nav {
        @include clearfix;

        & > li {
            float: left;

            a {
                font-size: 18px;
                font-weight: 600;
                color: #928f9a;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.08em;

                &:hover {
                    color: #ffffff;
                }

                &[data-active="true"] {
                    color: #ffffff;
                }
            }

            & + li {
                margin-left: 30px;
            }
        }
    }
    
    // .header_controls
    &_controls {
        display: inline-block;
        float: right;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;

        svg {
            width: 1em;
            height: 1em;
            font-size: 48px;
            margin-top: 1px;
        }
    }

    // .header-container
    &-container {
        display: inline-block;
        vertical-align: middle;
        margin-left: 18px;
    }
}

.right-user-area {
    $self: right-user-area;

    display: inline-block;
    vertical-align: middle;
    
    // .right-user-area_unit
    &_unit {
        display: inline-block;
        vertical-align: top;
        
        + .#{$self} {
            &_unit {
                margin-left: 20px;
            }
        }

        .icon {
            fill: #fff;
            cursor: pointer;
        }

        .icon-plus-in-circle {
            font-size: 28px;
        }

        .icon-lock {
            font-size: 19px;
        }

        .icon-bell {
            font-size: 21px;
        }

        .icon-envelope {
            font-size: 20px;
        }
    }
}

.current-user {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}