.dashboard {
    // .dashboard-header
    &-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #f1f2f4;
        height: 65px;
        z-index: 10;
    }
    
    // .dashboard-header_menu
    &-header_menu{
        height: 100%;
        text-align: center;

        .navbar-nav {
            height: 100%;

            li {
                height: 100%;
                display: inline-block;
            }
        }
    }

    // .dashboard-header_unit
    &-header_unit {
        display: block;
        float: left;
        height: 100%;
    }
    
    // .dashboard-header_dropdown
    &-header_dropdown {
        color: #fff;
        background-color: #393543;
        padding: 7px 20px;
        border-right: 1px solid #433f4d;
    }
    
    // .dashboard-header_progress
    &-header_progress {
        width: 350px;
        color: #fff;
        background-color: #393543;
        padding: 5px 20px;

        .progress {
            margin-top: 3px;
            width: 100%;
            background: #ccc;
            height: 5px;
            border-radius: 5px;

            span {
                border-radius: 5px;
                display: block;
                height: 100%;
                width: 75%;
                background-color: green;
            }
        }

        .lvl {
            font-size: 14px;

            span {
                font-size: 18px;
            }
        }
    }
    
    // .dashboard-menu_btn
    &-menu_btn {
        text-align: center;
        height: 100%;
        position: relative;
        padding: 0 45px;
        text-transform: uppercase;

        a {
            line-height: 65px;
            color: #a0a0aa;
            width: 100%;
            height: 100%;
            display: block;
            // padding: 10px;
            text-decoration: none;
        }

        &[data-active="true"] {
            // @include box-shadow(0 0 20px -7px #000);

            a {
                color: #453e60;
            }

            &:after{
                content: '';
                position: absolute;
                height: 5px;
                background: #453e60;
                width: 100%;
                left: 0;
                z-index: 1000;
            }
        }
    }

    // .dashboard-table-header
    &-table-header {
        // display: none;

        table {
            width: 100%;
            border-collapse: collapse;

            & > tbody {
                & > tr {
                    @extend .display-flex;
                    padding: 11px 15px 10px 15px;
                    // background: #e3e4e6;
                    // border-top: 1px solid #D0D0D0;
                    border-bottom: 1px solid #DAD7D7;
                    // @include box-shadow(0 0 8px rgba(0,0,0,.19));

                    td {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;

                        &.active {
                            i {
                                display: initial;
                            }
                        }

                        .icon {
                            color: #bebdbe;
                            font-size: 12px;
                            display: none;
                        }

                        &[data-active="false"]{
                            .icon {
                                display: inline-block;
                                @include rotate(90deg);
                            }
                        }

                        &[data-active="true"]{
                            .icon {
                                display: inline-block;
                                @include rotate(-90deg);
                            }
                        }

                        i {
                            display: none;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .milestone {
            text-align: center;
        }
    }
    
    // .dashboard-table
    &-table {
        border-collapse: collapse;
        @extend .full-size;

        .add-task {
            position: absolute;
            left: 0;
            right: 0;
            top: 2px;
            text-align: center;
            background: #d9e0ea;
            border: 1px dashed #aaa;
            cursor: pointer;
        }

        .task-wrapper {
            @extend .full-size;
            padding: 31px 0 1px 0;
            position: relative;
        }

        .tasks-container {
            // @extend .scroll;
        }

        .task-list-item {
            position: relative;
            height: 54px;
            background: #eaedf4;

            &:hover {
                background: #f1f4fb;
            }

            &:first-child {
                .row {
                    border-top: 1px solid #dbdbdc;
                }
            }
        }

        .row {
            @extend .display-flex;
            @extend .flex-1;
            @extend .align-items-center;
            @include border-radius(3px);
            border: 1px solid #dbdbdc;
            border-top: none;
            cursor: pointer;
            height: 100%;
        }

        .col {
            display: inline-block;
            vertical-align: middle;
            padding: 4px 5px 3px 5px;
            font-size: 12px;

            &.title {
                @extend .display-flex;
            }

            &.type {
                padding: 0;
                margin-left: 5px;
            }
        }

        .title {
            @extend .align-items-center;
            color: rgba(0, 0, 0, 0.9);
            font-weight: bold;
            overflow: hidden;

            .task-name {
                @extend .display-flex;
                @extend .flex-1;
                @extend .text-overflow;

                span {
                    display: block;
                    @extend .text-overflow;
                    @extend .select-none;
                }
            }

            .tags {
                @extend .display-flex;

                @media(max-width: 1024px) {
                    display: none;
                }
            }
        }

        .tags {
            width: 16%;
            text-align: center;

            .tag {
                vertical-align: middle;
            }
        }

        .projects {
            font-weight: 600;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.7);

            div {
                @extend .text-overflow;
            }

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            [data-priority-name] {
                display: inline-block;
                vertical-align: middle;
                // padding: 1px 5px;
                // font-size: 12px;
                font-size: 0;
                width: 15px;
                height: 15px;

                &[data-priority-name="low"] {
                    background: url(../img/icon/icon-low-small.svg);
                }

                &[data-priority-name="medium"] {
                    background: url(../img/icon/icon-medium-small.svg);
                }
                
                &[data-priority-name="high"] {
                    background: url(../img/icon/icon-high-small.svg);
                }

                &[data-priority-name="critical"] {
                    background: url(../img/icon/icon-critical-small.svg);
                }
            }
        }

        .status {
            position: relative;

            [data-processing-name] {
                border: 1px solid;
                @include border-radius(5px);
                display: inline-block;
                padding: 2px 10px;
                font-size: 10px;
                text-transform: capitalize;
                font-weight: bold;
                line-height: 15px;
                cursor: pointer;

                &[data-processing-name="new"] {
                    color: #5020b1;
                    border-color: #5020b1;
                }

                &[data-processing-name="send back"] {
                    color: #b7b7b7;
                    border-color: #b7b7b7;
                }

                &[data-processing-name="complete"] {
                    color: #715539;
                    border-color: #715539;
                }

                &[data-processing-name="done"] {
                    color: #4a8b9f;
                    border-color: #4a8b9f;
                }

                &[data-processing-name="on hold"] {
                    color: #e7a765;
                    border-color: #e7a765;
                }
            }
        }

        .assignee {
            .avatar{
                width: 32px;
                height: 32px;
                // float: left;
                border-radius: 4px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .milestone {
            .info {
                // display: inline-block;
                // vertical-align: top;
                font-weight: bold;
                color: #616066;
                @extend .clearfix;

                .icon-round-full {
                    display: block;
                    float: left;
                }

                & > div {
                    float: left;
                    @extend .text-overflow;
                    max-width: 85%;

                    span {
                        // display: block;
                    }
                }
            }

            .deadline {
                font-size: 9px;
                font-weight: 500;
                display: block;
            }
        }

        .created {
            .icon {
                font-size: 15px;
                margin-right: 2px;
            }

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    // .dashboard-table-header
    // .dashboard-table
    &-table-header,
    &-table {
        .title {
            width: calc(100% - 42.1% - 465px);

            @media(max-width: 1024px) {
                width: calc(100% - 35% - 465px);
            }
        }

        .projects {
            width: 8.1%;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            width: 80px;
            text-align: center;
        }

        .status {
            width: 92px;
            text-align: center;
        }

        .assignee {
            min-width: 72px;
            padding: 0;
            text-align: center;
        }

        .milestone {
            width: 19%;
        }

        .created {
            width: 113px;
        }

        .updated {
            width: 90px;
        }
    }
}