.dashboard {
    $base-width: 1437;
    $one-unit: $base-width / 100;
    $ul-width: 568 / $one-unit * 1%;
    
    // .dashboard-header
    &-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #3f3b4a;
        height: 65px;
        z-index: 10;
    }
    
    // .dashboard-header_menu
    &-header_menu{
        $base-width: 1437;
        $one-unit: $base-width / 100;
        $ul-width: 568 / $one-unit * 1%;

        // width: calc(#{$ul-width});
        height: 100%;

        .navbar-nav {
            height: 100%;

            li {
                height: 100%;
                display: inline-block;
                // width: calc(100% / 5);
                padding: 0 10px;

                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                }

                .icon {
                    font-size: 19px;
                    fill: #fff;
                }
            }
        }
    }
    
    // .dashboard-header_info
    &-header_info {
        width: calc(100% - #{$ul-width});
    }
    
    // .dashboard-header_dropdown
    &-header_dropdown {
        color: #fff;
        background-color: #393543;
        padding: 7px 20px;
        border-right: 1px solid #433f4d;
    }
    
    // .dashboard-header_progress
    &-header_progress {
        width: 350px;
        color: #fff;
        background-color: #393543;
        padding: 5px 20px;

        .progress {
            margin-top: 3px;
            width: 100%;
            background: #ccc;
            height: 5px;
            border-radius: 5px;

            span {
                border-radius: 5px;
                display: block;
                height: 100%;
                width: 75%;
                background-color: green;
            }
        }

        .lvl {
            font-size: 14px;

            span {
                font-size: 18px;
            }
        }
    }
    
    // .dashboard-header_unit
    &-header_unit {
        display: block;
        float: left;
        height: 100%;
    }
    
    // .dashboard-menu_btn
    &-menu_btn {
        color: #fff;
        text-align: center;
        height: 100%;
        position: relative;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        &[data-active="true"] {
            box-shadow: 0 0 20px -7px #000;
            &:after{
                content: '';
                position: absolute;
                height: 5px;
                background: rgba(63, 59, 74, 0.74);
                width: 100%;
                left: 0;
                z-index: 1000;
            }
        }
    }

    // .dashboard-table-header
    &-table-header {
        display: none;

        table {
            width: 100%;
            border-collapse: collapse;

            & > tbody {
                & > tr {
                    @extend .display-flex;
                    padding: 11px 15px 10px 15px;
                    background: #e3e4e6;
                    border-top: 1px solid #D0D0D0;
                    border-bottom: 1px solid #DAD7D7;
                    @include box-shadow(0 0 8px rgba(0,0,0,.19));

                    td {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;

                        &.active {
                            i {
                                display: initial;
                            }
                        }

                        .icon {
                            color: #bebdbe;
                            font-size: 12px;
                            @include rotate(90deg);
                        }

                        &[data-active="true"]{
                            .icon {
                                @include rotate(-90deg);       
                            }
                        }

                        i {
                            display: none;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .milestone {
            text-align: center;
        }
    }
    
    // .dashboard-table
    &-table {
        width: 100%;
        border-collapse: collapse;
        @extend .display-flex;
        flex-direction: column;
        flex: 1;

        .task-wrapper {
            @extend .display-flex;
            flex-direction: column;
            flex: 1;            
        }

        .task-list-item {
            @extend .display-flex;
            flex: 1;
            position: relative;

            &:hover {
                background: #fff;
                @include box-shadow(0 0 5px -2px #777);

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 10px;
                    background: #FFFFFF;
                    @include box-shadow(0 0 21px -2px #000);
                }

                .row {
                    border-color: transparent;
                }

                .title {
                    color: #000;
                }
            }
        }

        .row {
            @extend .display-flex;
            flex: 1;
            align-items: center;
            border-bottom: 1px solid #dbdbdc;
            cursor: pointer;
            margin: 0px 15px;
        }

        .col {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            font-size: 12px;
        }

        .icon-round {
            width: 12px;
            height: 12px;
            display: inline-block;
            @include border-radius(50%);
            border: 2px solid;
            margin-right: 5px;
        }

        .title {
            display: flex;
            color: #565656;
            font-weight: bold;
            overflow: hidden;
            align-items: center;

            .task-name {
                display: flex;
                flex: 1;

                // display: inline-block;
                // vertical-align: middle;
                // width: calc(100% - 300px);
                // max-width: calc(100% - 300px);

                // @media(max-width: 1024px) {
                //     width: 100%;
                //     max-width: 100%;
                // }

                span {
                    display: block;
                    @extend .text-overflow;
                    @extend .select-none;
                }
            }

            .icon {
                font-size: 15px;
                float: left;
            }

            .tags {
                display: flex;

                // display: inline-block;
                // vertical-align: middle;
                // width: 295px;

                @media(max-width: 1024px) {
                    display: none;
                }
            }

            .tag {
                display: inline-block;
                margin-left: 5px;
                font-size: 12px;
                font-weight: normal;
                border: 1px solid #d0d0d0;
                color: #9a9a9a;
                padding: 0 5px;
                @include border-radius(4px);
                @extend .text-overflow;
                max-width: 50px;

                & + .tag {
                    margin-left: 5px;
                }
            }
        }

        .projects {
            font-weight: bold;
            color: #565656;

            div {
                @extend .text-overflow;
            }

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            [data-priority-name] {
                display: inline-block;
                vertical-align: middle;
                // padding: 1px 5px;
                // font-size: 12px;
                font-size: 0;
                width: 15px;
                height: 15px;

                &[data-priority-name="low"] {
                    background: url(../img/icon/icon-low-small.svg);
                }

                &[data-priority-name="medium"] {
                    background: url(../img/icon/icon-medium-small.svg);
                }
                
                &[data-priority-name="high"] {
                    background: url(../img/icon/icon-high-small.svg);
                }

                &[data-priority-name="critical"] {
                    background: url(../img/icon/icon-critical-small.svg);
                }
            }
        }

        .status {
            position: relative;

            [data-processing-name] {
                border: 1px solid;
                border-radius: 5px;
                display: inline-block;
                padding: 1px 10px;
                font-size: 10px;
                text-transform: capitalize;
                font-weight: bold;
                line-height: 15px;

                &[data-processing-name="new"] {
                    color: #5020b1;
                    border-color: #5020b1;
                }

                &[data-processing-name="send back"] {
                    color: #b7b7b7;
                    border-color: #b7b7b7;
                }

                &[data-processing-name="complete"] {
                    color: #715539;
                    border-color: #715539;
                }

                &[data-processing-name="done"] {
                    color: #4a8b9f;
                    border-color: #4a8b9f;
                }

                &[data-processing-name="on hold"] {
                    color: #e7a765;
                    border-color: #e7a765;
                }
            }
            
            // .status-select
            &-select {
                position: absolute;
                top: 19px;
                background-color: #f1f1f2;
                display: none;
                z-index: 9999;
                left: 0;
                right: 0;

                ul {
                    padding: 4px 0;
                }

                li {
                    padding: 4px 0;

                    &:hover {
                        background-color: #fff;
                    }

                    // & + li {
                    //     margin-top: 8px;
                    // }
                }
            }
        }

        .assignee {
            .avatar{
                width: 32px;
                height: 32px;
                // float: left;
                border-radius: 4px;
            }
        }

        .milestone {
            .icon {
                font-size: 15px;
            }

            .info {
                display: inline-block;
                vertical-align: top;
                font-weight: bold;
                color: #616066;

                & > div {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            span {
                display: block;
            }

            .deadline {
                font-size: 9px;
                font-weight: 500;
            }
        }

        .created {
            .icon {
                font-size: 15px;
            }
        }
    }

    // .dashboard-table-header
    // .dashboard-table
    &-table-header,
    &-table {
        .title {
            // width: 45.5%;
            width: calc(100% - 27.1% - 465px);
            margin-left: 5px;

            @media(max-width: 1024px) {
                width: calc(100% - 19% - 465px);
            }
        }

        .projects {
            // width: 5%;
            width: 8.1%;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .priority {
            // width: 42px;
            // width: 7.81%;
            width: 80px;
            text-align: center;
        }

        .status {
            // width: 9%;
            width: 92px;
            text-align: center;
        }

        .assignee {
            // width: 42px;
            // width: 8.8%;
            width: 90px;
            margin-right: 15px;
            text-align: center;
        }

        .milestone {
            width: 19%;
        }

        .created {
            // width: 11%;
            width: 113px;
        }

        .updated {
            // width: 8.5%;
            width: 90px;
        }
    }
}

.tasks-edit {
    position: absolute;
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMi45NzgxMDA2NDQzNjk5JSIgeTE9IjkyLjU4ODgyMzM5NDAzMjclIiB4Mj0iODcuMDIxODk5MzU1NjMwMSUiIHkyPSI3LjQxMTE3NjYwNTk2NzI4JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ViZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTllYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -o-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: -webkit-linear-gradient(49deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    background-image: linear-gradient(41deg, #e7e7ea 10%, #ebe9e9 50.94%, #e7e9eb 90%); /* gradient overlay */
    width: 990px;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #B5B5B5;
    z-index: 1000;

    .close-panel {
        color: #817E81;
        text-decoration: none;
        float: right;
        font-size: 10px;
        margin-top: -10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .tabs-view,
    .details-view {
        float: left;
        height: 100%;
    }

    .tabs-view {
        $self: tabs-view;

        width: 592px;
        position: relative;
        padding-top: 59px;

        // .tabs-view_header
        &_header {
            position: absolute;
            top: 20px;
            left: 20px;
            right: 0;
            
            ul {
                @include clearfix;
            }

            li {
                float: left;
                padding: 10px 10px 5px 10px;
                @include border-radius(3px 3px 0 0);

                &[data-active="true"] {
                    background-color: rgba(255, 255, 255, 0.5);

                    a {
                        opacity: 1;
                    }
                }
            }

            a {
                color: #000;
                opacity: 0.6;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
            }
        }
        
        // .tabs-view_content
        &_content {
            position: relative;
            background-color: rgba(255, 255, 255, 0.5);
            padding-bottom: 90px;
            padding-top: 20px;
            border-right: 1px solid rgba(0, 0, 0, 0.14);
        }

        // .tabs-view_comments
        &_comments {
            /**/
        }

        // .tabs-view_comments-unit
        &_comments-unit {
            .#{$self} {
                &_comments-unit {
                    margin-left: 52px;
                }
            }
        }

        .comment {
            padding: 0 20px 0 20px;
            position: relative;

            // .comment-left
            &-left {
                float: left;
                width: 52px;

                .avatar {
                    width: 52px;
                    height: 52px;
                    @include border-radius(5px);
                }
            }

            .files {
                display: inline-block;
                text-align: center;
                margin: -35px 0px 0px -10px;
                cursor: pointer;
                // position: absolute;
                // bottom: -18px;
                // left: -10px;

                // .files-desc
                &-desc {
                    opacity: .75;
                    color: #000;
                    font-size: 10px;
                    font-weight: bold;
                }
                
                // .files-preview
                &-preview {
                    position: absolute;
                    z-index: 5;
                    top: 33px;
                    left: 50px;
                    display: none;

                    img {
                        width: 32px;
                        height: 32px;
                        float: left;
                        background-color: #000;
                        @extend .padding-box;
                        @include border-radius(3px 32px / 32px 3px);
                        @include box-shadow(0 0 35px #000);

                        & + img {
                            margin-left: 5px;
                        }
                    }
                }

                // .files-preview_close
                &-preview_close {
                    float: right;
                    margin-top: -10px;
                }
            }

            .count-wrap {
                opacity: .54;
                background-color: #fff;
                @include border-radius(3px);
                @include box-shadow(0 0 10px #000);
                padding: 3px 10px;
                display: block;
                text-align: center;

                span {
                    opacity: .75;
                    color: #000;
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            // .comment-right
            &-right {
                width: calc(100% - 72px);
                float: left;
                margin-left: 20px;
            }

            .name {
                float: left;
                font-size: 13px;
                font-weight: 600;
                color: #000;
            }

            .date {
                float: right;
                font-family: 'Roboto', sans-serif;
                opacity: .6;
                color: #000;
                font-size: 11px;
                line-height: 18px;
            }

            .text {
                opacity: .74;
                color: #000;
                font-size: 14px;
                line-height: 20px;
                margin-top: 10px;
            }

            .icon {
                font-size: 15px;
            }
        }
        
        // .tabs-view_add-comment-form
        &_add-comment-form {
            position: absolute;
            bottom: 10px;
            left: 20px;
            right: 20px;

            .icon {
                font-size: 15px;
                position: absolute;
                right: 30px;
            }

            .add-file {
                top: 15px;
            }

            .send-message {
                top: 60px;
            }

            textarea {
                @include border-radius(3px);
                background-color: #e4e4e6;
                height: 85px;
                resize: none;
                width: 100%;
                outline: none;
                font-family: "Open Sans", Arial;
                padding: 5px;
                display: block;
                border: 1px solid #d6d6d6;
            }
        }
    }

    .details-view {
        width: calc(100% - 592px);
    }

    .details-table {
        $self: details-table;

        width: 100%;
        padding: 61px 0 10px 0;

        li {
            display: inline-block;
            width: 100%;

            & + li {
                margin-top: 10px;
            }
        }

        // .details-table_project
        &_project {
            .#{$self}_term {
                vertical-align: middle;
            }
        }

        // .details-table_priority
        &_priority {
            [data-priority-name] {
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                padding-left: 20px;

                &[data-priority-name="low"] {
                    background-image: url(../img/icon/icon-low-small.svg);
                }

                &[data-priority-name="medium"] {
                    background-image: url(../img/icon/icon-medium-small.svg);
                }
                
                &[data-priority-name="high"] {
                    background-image: url(../img/icon/icon-high-small.svg);
                }

                &[data-priority-name="critical"] {
                    background-image: url(../img/icon/icon-critical-small.svg);
                }
            }
        }
        
        // .details-table_status
        &_status {
            [data-processing-name] {
                border: 1px solid;
                border-radius: 5px;
                display: inline-block;
                padding: 1px 10px;
                font-size: 10px;
                text-transform: capitalize;
                font-weight: bold;
                line-height: 15px;

                &[data-processing-name="new"] {
                    color: #5020b1;
                    border-color: #5020b1;
                }

                &[data-processing-name="send back"] {
                    color: #b7b7b7;
                    border-color: #b7b7b7;
                }

                &[data-processing-name="complete"] {
                    color: #715539;
                    border-color: #715539;
                }

                &[data-processing-name="done"] {
                    color: #4a8b9f;
                    border-color: #4a8b9f;
                }

                &[data-processing-name="on hold"] {
                    color: #e7a765;
                    border-color: #e7a765;
                }
            }
        }
        
        // .details-table_assignee
        &_assignee {
            img {
                float: left;
                @include border-radius(3px);
            }

            & > div {
                vertical-align: middle;
            }

            .info {
                float: left;
                margin-top: 2px;
                margin-left: 5px;
            }

            span {
                color: #25212d;
                font-size: 12px;
                display: block;
                line-height: 14px;
            }
            
            .name {
                font-weight: 700;
            }
        }
        
        // .details-table_date
        &_date {
            input {
                width: 80px;
                border: none;
                outline: none;
                background: transparent;
                opacity: .7;
                color: #25212d;
                font-size: 12px;
                font-weight: 600;
                font-family: "Open Sans", Arial;
            }
        }
        
        // .details-table_watchers
        &_watchers {
            & > div {
                vertical-align: middle;
            }

            img {
                float: left;
                @include border-radius(3px);

                & + img {
                    margin-left: 1px;
                }
            }
        }
        
        // .details-table_hours
        &_hours {
            .#{$self}_term {
                vertical-align: middle;
            }

            .icon,
            input {
                display: inline-block;
                vertical-align: middle;
            }

            input {
                text-align: center;
                width: 50px;
                border-left: none;
                border-top: none;
                border-right: none;
                border-bottom: 1px solid rgba(99, 87, 161, 0.15);
                outline: none;
                background: transparent;
                opacity: .7;
                color: #25212d;
                font-size: 12px;
                font-weight: 600;
                font-family: "Open Sans", Arial;
            }

            .icon {
                font-size: 30px;
            }
        }
        
        // .details-table_tags
        &_tags {
            .tag {
                display: inline-block;
                margin-left: 5px;
                font-size: 12px;
                font-weight: normal;
                border: 1px solid #d0d0d0;
                color: #9a9a9a;
                padding: 0 5px;
                @include border-radius(4px);
                @extend .text-overflow;
                max-width: 50px;
            }
        }
        
        // .details-table_controls
        &_controls {
            text-align: center;
            font-size: 0;

            & > div {
                display: inline-block;
                vertical-align: middle;
                padding: 15px;
                min-width: 90px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.29);
                    @include box-shadow(0 1px 9px rgba(0,0,0,.4));
                }

                & + div {
                    border-left: 1px solid rgba(101, 99, 109, 0.15);
                }
            }

            .icon {
                font-size: 20px;
            }

            span {
                display: block;
                color: #000;
                font-size: 12px;
                margin-top: 5px;
            }
        }


        .project-name {
            color: #000;
            font-size: 16px;
            font-weight: 600;
            padding-top: 3px;
            letter-spacing: 0.04em;
        }

        .company-name {
            font-size: 13px;
        }

        .custom-select {
            float: none;
        }
        
        // .details-table_term
        &_term {
            display: inline-block;
            vertical-align: top;
            text-align: right;
            width: 138px;
            color: #49494a;
            font-size: 13px;
            letter-spacing: 0.06em;
            font-weight: 600;
        }

        // .details-table_desc
        &_desc {
            display: inline-block;
            vertical-align: top;
            font-size: 13px;
            color: #49494a;
        }
    }

    .description {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 19px 0 19px 20px;
        // background: #E0DFE4;
        background-color: rgba(255, 255, 255, 0.15); /* layer fill content */

        p {
            float: left;
        }

        .name {
            font-size: 14px;
            font-weight: bold;
            color: #211d2f;
            letter-spacing: 0.001em;
            
            .icon {
                font-size: 15px;
            }            
        }
        
        // .description-text
        &-text {
            padding: 1px 21px;

            span {
                color: #6B6A6A;
                font-size: 15px;
                @extend .text-overflow;
                display: block;
                max-width: 90%;
                float: left;
            }

            .see_more {
                margin-left: 5px;
                color: #000;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    .tasks-description {
        position: relative;
        padding-top: 84px;
    }

    .date-icon {
        &:before {
            font-family: 'icomoon' !important;
            content: "\e901";
            padding-right: 4px;
            vertical-align: middle;
        }

        &.start:before {
            color: #555659;
        }

        &.finish:before {
            color: #FF7078;
        }
    }
}